*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}

input {
  outline: none;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
}